// 
// _layouts.scss
// 

body[data-layout-size="boxed"] {
    background-color: $boxed-body-bg;
    #layout-wrapper {
        background-color: $body-bg;
        max-width: $boxed-layout-width;
        margin: 0 auto;
        box-shadow: $box-shadow;
    }

    #page-topbar {
        max-width: $boxed-layout-width;
        margin: 0 auto;
    }

    .footer {
        margin: 0 auto;
        max-width: calc(#{$boxed-layout-width} - #{$sidebar-width});
    }

    &.vertical-collpsed {
        .footer {
            max-width: calc(#{$boxed-layout-width} - #{$sidebar-collapsed-width});
        }
    }
}


// Horizontal Boxed Layout

body[data-layout="horizontal"][data-layout-size="boxed"]{
    #page-topbar, #layout-wrapper, .footer {
        max-width: 100%;
    }
    .container-fluid, .navbar-header {
        max-width: $boxed-layout-width;
    }
}
.container-md{
    max-width: 1360px!important;
}
.container-sm{
    max-width: 1170px!important;
}
#form-page-topbar{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1002;
    background-color: $header-bg;
    box-shadow: $box-shadow;
    .navbar-header{
        max-width: 1600px;
    }
}
.steps-form-content{
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: relative;
    // &::before{
    //     content: "";
    //     position:absolute;
    //     left: 0;
    //     top: 0;
    //     width: 100%;
    //     height: 150px;
    //     background-color: #f6f6f6;
    // }
}
.step-form{
    .steps-form-title{
        padding:1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .form-title-text{
            i{
                margin-right: 5px;
                font-size: 20px;
                vertical-align: middle;
            }
            h6{
                margin: 0;
                font-size: 15px;
            }
        }
        .form-title-count{
            h5{
                margin: 0;
            }
        }
        
    }
    .step-form-content-inner{
        padding: 2rem 1.25rem;
        // border-width: 0 1px 1px;
        // border-style: solid;
        // border-color: #dee1e5;
    }
}

// .steps-wrapper {
//     min-height: 100vh;
//     background: #f6f6f6;
// }
.mx-input{
    height: calc(1.5em + 0.94rem + 2px)!important;
}
.header-title{
    h5{
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;
    }
}
.step-form-content-inner {
    .form-group{
        margin-bottom: 1.5rem;
    }
}

.h-250{
    max-height: 250px;
    margin-bottom: 2.5rem;
}
.products-carousel{
    margin-bottom: 30px;
    .carousel-item{
        img{
            max-height: 340px;
            object-fit: cover;
        }
    }
}
.list-heading {
    text-align: center;
    margin-bottom: 2rem;
    border-bottom: 2px solid $primary;
    h4{
        // font-weight: 600;
        display: inline-block;
        // border-bottom: 4px solid $primary;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background: $primary;
        color: white;
        padding: 8px 10px;
        position: relative;
        // &::after{
        //     content: "";
        //     position: absolute;
        //     top: 100%;
        //     left: 50%;
        //     transform: translateX(-50%);
        //     width: 0;
        //     height: 0;
        //     border-left: 10px solid transparent;
        //     border-right: 10px solid transparent;
        //     border-top: 10px solid $primary;
        // }
    }
}
.text-link{
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}
label.required:after {
    content: "*";
    display: inline-block;
    margin-left: 1px;
}
.sub-heading{
    border-bottom: 2px solid $primary;
    margin: 0 0 2rem;
    > h6{
        margin: 0;
        padding: 6px 10px;
        background: $primary;
        display: inline-block;
        color: white;
    }
}
.footer{
    &.steps-footer{
        left: 0;
    }
}

.header-form{
    position: relative;
}
.invalid-feedback{
    &.invalid-feedback-header{
        position: absolute;
        left: 0;
        top: 48px;
    }
}
.otp-verify {
   
        padding: 1rem 1rem 0;
        display: flex;
        width: 100%;
        height: calc(100vh - 130px);
        align-items: center;
    
    .middle-box {
        max-width: 800px;
        margin: 0 auto;
        width: 100%;
    }
}
.max-500{
    max-width: 500px;
    margin: 0 auto 1rem;
}
.congraz-img{
    img {
        max-width: 200px;
    }
}





.non-editable{
    .step-form{
        pointer-events: none;
    }
}
.product-features{
    li{
        padding: 7px 0;
    }
}
.wave-img{
    img {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: -1;
        height: 100%;
    }
}
.login-image-wrapper{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    img{
        width: 400px;
        max-width:100%
    }
}

.otp-group {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    input {
        width: 40px;
    }
    max-width: 450px;
    margin: 0 auto;
}
.card-btm-info{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
    font-size: 12px;
    .info-box{
        padding-right: 8px;
        svg{
            margin-top: 2px;
        }
        &:last-child{
            padding-right: 0;
        }
    }
}
.max-300{
    max-width: 300px;margin: 0 auto;
}
.product-page{
    padding-top: 24px;
    width: 100%;
}
.otp-form-group-custom{
    .form-control{
        width: 60px;
        height: 60px;
        text-align: center;
    }
}
.authentication-page-content{
    &.otp-page{
        min-height: auto;
        height: auto;
    }
}

.detail-list{
    .card-title-desc{
        margin-bottom: 1rem;
    }
    .detail-img{
        max-width: 80%;
        margin-bottom: 1rem;
    }
}
.preview-image{
    margin-bottom: 1rem;
    position: relative;
    max-height: 250px;
    margin-top: 1rem;
    overflow: hidden;
    min-height: 250px;
    img {
        max-width: 100%;
        max-height: 250px;
    }
    .progress-wrap {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        .progress{
            border-radius: 0;
        }
    }
}
.uploader-action{
    position: absolute;
    right: 0;
    top: 10px;
}
.card{
    &.card-dashboard{
        min-height: 174px;
    }
}
span.text-title {
    color: #343a40;
    font-weight: 600;
    display: inline-block;
    font-family: "Inter", sans-serif;
}

/************* Home-Header ****************************/


.header-home {
    padding-top: 115px;
    overflow: hidden;
    position: relative;
    padding-bottom: 25px;
    // background-color:#fbfbfb;
    // background-color: #fff;
}
header.header-home:before {
    // content: "";
    // position: absolute;
    // left: 0;
    // top: 0;
    // width: 100%;
    // height: 100%;
    // // background: #f83600;
    // transform: skewY(-9deg);
    // transform-origin: left;


    // background: #f83600;
    // background: linear-gradient(
    //     -45deg
    //     , #fe8c00, #f83600, #f83600, #fe8c00);
    // background-size: 400% 400%;
    // -webkit-animation: gradientBG 15s ease infinite;
    // animation: gradientBG 15s ease infinite;
}
.header-home .banner-text-wrap {
    max-width: 450px;
    margin-top: 50px;
    .banner-title-wrap{
        margin-bottom: 30px;
    }
}
.header-home .header-home__title {
    margin-top: 52px;
    margin-bottom: 26px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #444f60;
    font-weight: 500;
    font-size: 1.8rem;
}
.header-home .header-home__description {
    margin-bottom: 42px;
    color: #222222;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
img {
    max-width: 100%;
}
.menu__right-nav{
    display: flex;
    justify-content: flex-end;
    ul{
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        margin: 0;
        align-items: center;
    }
}
/***********banner*********/



.header-home__btns.header-home__btns-mobile {
    margin-top: 20px;
}
.products-wrapper {
    // margin-left: -20px;
}

.overlay-banner{
    position: absolute;
    right:30px;
    top: 70px;
    width: 680px;
    height: 680px;
    display: block;
    animation-name: rotateme;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.banner-img-wrap {
    // max-width: 500px;
    float: left;
    margin-left: -70px;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}
.banner-main-img{
    animation-name: levitate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}
img.banner-shadow {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -1;
    bottom: -12px;
}
.btn-mid-width{
    min-width: 100px;
}
.btn {
    &.btn-white{
        background-color:white;
        color:$primary;
    }
    &.btn-outline-white{
        border-color: white;
        color:white;
    }
}

/********************* Home Body ***********************/

.section-title-wrapper{
    margin-bottom:30px;
}
.section-title-landing{
    font-size: 1.8rem;
    color: #444f60;
    font-family: Inter,sans-serif;
    font-weight: 400;
    margin: 0;
}
.section-subtitle-alt{
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    line-height: 30px;
    font-weight: 400;
    color: #8e9baf;
    line-height: 1.2;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem !important;
}
.feature-image{
    margin: 20px 0;
}
.feature-info{
    margin:20px 0;
    .title {
        font-size: 1.2rem;
        font-family: Inter,sans-serif;
        font-weight: 400;
        line-height: 1.125;
        margin: 0;
        color: #444f60;
        &:after{
            content: " ";
            height:1px;
            width: 80px;
            background:#f83600;
            display:block;
            margin: 10px 0;
        }
    }
    .section-feature-description{
        font-size: 14px;
        color: #878787;
    }
}
.feature-image {
    img {
        width: 100%;
        max-width: 500px;
    }
}


/************** Video Section ****************/
/******* Video *********/
.video-info-wrapper {
    max-width: 87%;
}
.row-video{

}
.product-section{
	padding-bottom: 15rem;
}
.text-primary{
	color: $primary!important;
}
.section-heading{
	&.video-section-heading{
		font-weight: 500;
		line-height: 1.5;
		max-width: 500px;
        font-family: Inter,sans-serif;;
		h2{
			line-height: 1.5;
		}
	}
}
ul.apply-steps {
    margin-top: 80px;
    padding-left: 0;
}

.video-info-wrapper, .video-content-wrap{
	margin-top: -170px;
}
.video-section{
	padding-bottom: 6rem;
	background-color: #f83600;
}
.apply-steps{
	color: #fff;
	list-style: none;
	li{
		margin-bottom: 2rem;
		position: relative;
		padding-left: 70px;
		// &::before{
		// 	content: "";
		// 	position: absolute;
		// 	width: 50px;
		// 	height: 50px;
		// 	background-color: white;
		// 	border-radius: 100%;
		// 	left: 0;
		// 	display: flex;
		// 	align-items: center;
		// 	justify-content: center;
		// 	color: $primary;
		// }
        .list-icon-wrap{
            position: absolute;
			width: 50px;
			height: 50px;
			background-color: white;
			border-radius: 100%;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $primary;
            .list-title-icon{
                color: $primary;
                font-size: 22px;
            }
        }
		// &:nth-child(1){
		// 	&::before{
		// 		content: "\F0065";
		// 	}
		// }
		// &:nth-child(2){
		// 	&::before{
		// 		content: "\F0072";
		// 	}
		// }
		// &:nth-child(3){
		// 	&::before{
		// 		content: "\F06BB";
		// 	}
		// }
	}
	span.step-title {
		display: block;
		font-weight: 500;
		font-size: 1.2rem;
        font-family: Inter,sans-serif;;
	}
}
.video-content-wrap{
	position: relative;
	.video-wrap{
		position: relative;
		&::before{
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background: #000;
			opacity: 0.15;
		}
	}
	
	.play-btn{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80px;
		height: 80px;
		background: white;
		border-radius: 100%;
		text-align: center;
		transform: translate(-50%,-50%);
        display: flex;
        align-items: center;
        justify-content: center;
		.video-play{
			color: $primary;
			font-size: 30px;
		}
	}
	.contact-info{
		position: absolute;
		width: 100%;
		bottom: 0;
		transform: translateY(50%);
		z-index: 1;
	}
	.contact-info-content{
		background: white;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 4px;
		text-align: center;
		padding: 1rem;
		p{
			margin: 0 0 5px;
		}
	}
}
.video-content-wrap .play-btn::before, .video-content-wrap .play-btn::after{
	position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid hsla(0,0%,100%,.5);
    border-radius: 50%;
    transform: scale(.35);
    opacity: 0;
    animation: tatsu-ripple 2.6s cubic-bezier(.25,.9,.2,1) .4s infinite;
}
.video-content-wrap .play-btn::after {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
@-webkit-keyframes tatsu-ripple{0%{-webkit-transform:scale(1);opacity:1}to{-webkit-transform:scale(1.7);opacity:0}}@keyframes tatsu-ripple{0%{-webkit-transform:scale(1);transform:scale(1);opacity:1}to{-webkit-transform:scale(1.7);transform:scale(1.7);opacity:0}}



@keyframes rotateme {
    0% {transform: rotate( 0deg );}
    100% {transform: rotate(360deg );    }
}
@keyframes levitate {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 10px);
        transform: translate(0, 10px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/*********** MENU ***********/
#landing-header {


	.sidemenu {
		&__btn {
			display: none;
			width: 45px;
            height: 39px;
			background: white;
            border-radius: 5px;
			border: none;
			position: absolute;
            top: 14px;
            right: 10px;
			z-index: 100;
			appearance: none;
			cursor: pointer;
			outline: none;

			span {
				display: block;
				width: 20px;
				height: 2px;
				margin: auto;
				background: $primary;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				transition: all .4s ease;

				&.top {
					transform: translateY(-8px);
				}

				&.bottom {
					transform: translateY(8px);
				}
			}
			&.active{
				.top {
					transform: rotate(-45deg);
				}
				.mid{
					transform: translateX(-20px) rotate(360deg);
					opacity: 0;
				}
				.bottom {
					transform: rotate(45deg);
				}
			}

		}
	}
}

.translateX-enter{
	transform:translateX(-200px);
	opacity: 0;
}

.translateX-enter-active,.translateX-leave-active{
	transform-origin: top left 0;
	transition:.2s ease;
}

.translateX-leave-to{
	transform: translateX(-200px);
	opacity: 0;
}
#sidebar-menu ul li a .menu-icon-wrap{
    display: inline-block;
    min-width: 1.5rem;
}
#sidebar-menu ul li a .menu-icon{
    
    padding-bottom: 0.125em;
    font-size: 1rem;
    line-height: 1.40625rem;
    vertical-align: middle;
    color: #505d69;
    transition: all 0.4s;
    opacity: 0.75;
}
.vertical-collpsed .vertical-menu #sidebar-menu > ul > li > a .menu-icon{
    font-size: 20px;
}
.mm-active  .menu-icon{
    color: $primary!important;
}
.simple-card{
    box-shadow: -1px 3px 10px 0 rgb(0 0 0 / 6%);
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
}
.feature-content{
    display: flex;
    align-items: center;
    .feature-img{
        flex: 0 0 60%;
        img{
            max-height: 200px;
        }
    }
    .feature-info{
        h6{
            font-weight: 700;
            line-height:25px;
        }
    }
    &.bg-redlight{
        background: #ddd0d0;
    }
    &.bg-greenlight{
        background: #ddede9;
    }
}
.feature-list-wrap{
    margin-left: -12px;
    margin-right: -12px;
}
.slick-next{
    right:0!important;
}
.slick-prev{
    left:0!important;
}
.slick-next, .slick-prev{
    z-index: 9;
}
/*************** DesktopView **************/
@media only screen and (min-width: 768px) {
    .features-list .row:nth-child(1) .col-md-5{
        order: 2;
    }


}

/************** MobileView ***************/
@media only screen and (max-width: 767px) {
    .vue-form-wizard .wizard-tab-content{
        padding: 30px 0px 10px!important;
    }
    #form-page-topbar .navbar-header{
        flex-wrap: wrap;
        position: relative;
        height: auto;
        align-items: flex-start;
        padding: 0 10px;

        .logo-wrapper{
            flex:  0 0 100%;
            justify-content: center;
        }
        .logo{
            line-height: 55px;
        }
        .header-title{
            flex:  0 0 100%;
            text-align: center;
            margin-top: 10px;
        }
        .customer-care{
            position: absolute;
            top: -5px;
            right: 0;
        }
        .header-form{
            flex: 0 0 100%;
            .form-inline{
                flex: 0 0 100%;
                justify-content: center;
            }
        }
    }
    .sm-100{
        flex: 0 0 100%;
    }
    .login-image-wrapper, .wave-img{
        display:none;
    }
    .mobile-static{
        position: static;
    }
    #landing-header{
        position: relative;
    }
    #landing-header .sidemenu__btn{
        display: block;
    }
    .menu .menu__logo-img{
        max-width: 85px;
    }
    .menu_item_buttons{
        position: absolute;
        right: 15px;
        top: 36px;
    }
    .btn-mid-width{
        min-width: 80px;
    }
    .menu{
        padding-top: 18px;
    }
    .d-m-none{
        display: none;
    }
    .main-menu-item {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background: white;
        z-index: 999;
        height: 100%;
      }
      .nav-mobile {
        padding-top: 40px;
        > ul {
            list-style-type: none;
            padding-left: 0;
             li{
                 padding:10px 1rem;
             }
        }
      }
      .header-home .header-home__title{
        font-size: 1.3rem;
        margin-top:0;
      }
      .header-home{
          padding-top:110px;

           
      }
  
      .saathi{
          display:none;
      }
      .header-home{
          padding-bottom: 0;
      }
      .section-title-landing{
          font-size: 1.2rem;
      }
      .section-subtitle-alt{
          font-size: 1rem;
      }
      .home-body{
          padding-top: 15px;
          padding-bottom: 120px;
      }
      .feature-info .section-feature-description{
          font-size: 14px;
      }
      .feature-info .title{
          font-size: 1.2rem;
      }
      .section-heading.video-section-heading h2{
          font-size:16px;
      }
      .feature-content .feature-info h6{
          font-size: 12px;
      }
      .video-content-wrap{
          margin-top: 0;
      }
      .apply-steps span.step-title{
          font-size: 1rem;
      }
      .apply-steps li{
          font-size: 12px;
      }
      .video-wrap{
          > img{
            height: 340px;
            width: 100%;
            object-fit: cover;
          }
      }
      .header-home .banner-text-wrap{
          margin-top: 0;
      }
      .floating-circle{
        height: 65px;
      }
      .floating-circle .product-icon{
          font-size: 28px;
      }
      .video-info-wrapper{
          margin-top: -110px;
      }
      .section-title-wrapper, .header-home .banner-text-wrap .banner-title-wrap{
          margin-bottom: 15px;
      }
}