.home-body {
    padding-top: 120px;
}
.main-menu-list{
    padding: 15px;
}
.menu {
    padding-top: 12px;
    padding-bottom: 12px;
    position: absolute;
    z-index: 100;
    width: 100%;
    transition: all 0.5s ease;
    top: 0;
    background-color: white;
    box-shadow: 0 0 20px 0 hsl(0deg 0% 94% / 60%);
}
@media only screen and (min-width: 768px) {
    .menu {
        &.sticky{
            position: fixed;
            background: white;
            box-shadow: 0 0 20px 0 hsl(0deg 0% 94% / 60%);
        }
    }
}

.menu .menu__item {
    min-width: 250px;
}
.menu .menu__center-nav {
    text-align: center;
}
.menu .menu__center-nav ul {
    padding: 0;
    margin: 0;
}
.menu .menu__center-nav li {
    padding-right: 25px;
    display: inline-block;
}
.menu .menu__center-nav li a {
    color: $dark;
    cursor: pointer;
}
.menu .menu__center-nav li a.active{
    color: $primary;
}
.main-menu{
    padding: 0;
    list-style-type: none;
    li{
        margin: 10px 0;
    }
    .menu-icon-wrap{
        font-size: 20px;
        min-width: 40px;
        line-height: 20px;
    }
    .side-nav-link-ref{
        color: #5a6876;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        font-size: 14px;
        &.router-link-exact-active{
            border-radius: 12px;
            background-color:rgba(223,37,37,.06);
            color: $primary;
            font-weight: 600;
            .menu-icon-wrap{
                color: $primary;
            }
        }
    }
    
    .list-divider{
       border-bottom: 1px dashed #e5e4e4;
       display: block;
    }
}
.colored {
    .main-menu{
        .side-nav-link-ref{
            color: #fff;
            &.router-link-exact-active{
                background-color:#fff;
                color: $primary;
            }
        }
    }
}
.home-sidebar{
    height: 100%;
    > .card{
        border-radius: 10px;
        margin: 0;
        height: 100%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
    }
}

.colored {
    .home-sidebar{

        > .card{
            border-radius: 10px;
            margin: 0;
            height: 100%;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
            background: $primary;
        }
    }
}
.home-body-content{
    min-height: calc(100vh - 182px);
    padding-bottom: 100px;
    padding-left:10px;
}
.section-heading{
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.products-list{
    list-style: none;
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    li{
        flex: 0 0 25%;
        padding: 0 15px;
        margin-bottom: 30px;
    }
}
.product-content{
    max-width: 130px;
    cursor: pointer;
    .floating-circle {
        display: flex;
        height: 60px;
        width: 60px;
        border: 1px solid hsla(0,0%,84.7%,.5);
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        background-color: white;
    }
    .product-icon {
        font-size: 24px;
        color: $primary;
        transition: all 0.3s ease;
        &.view-more{
            transform: rotate(180deg);
        }
    }
    .floating-text{
        margin-top:10px;
        color:#5a6876;
        .clean-text{
            display: block;
            line-height: 1.3;
            font-size: 14px;
        }
        .offer-text {
            display: block;
            font-size: 11px;
            font-weight: 700;
            color: $primary;
            font-family: 'Inter';
        }
    }
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }

  /********************* Deposits ********************************/
  .text-shadow-black{
      text-shadow: 0 1px rgba(0,0,0,0.6);
  }
//   .deposits-wrapper{
//       margin-left: -12px;
//       margin-right: -12px;
//   }
.deposit-card{
    // background: #eca3a3;
    // box-shadow: 0 3px 10px 0 #eca3a3;
    background: white;
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    border-radius: 5px;
    // &.card-purple {
    //     background: #c7aecf;
    //     box-shadow: 0 3px 10px 0 #c7aecf;
    // }
    // &.card-grey{
    //     background: #aeaaaa;
    //     box-shadow: 0 3px 10px 0 #aeaaaa;
    // }
    // &.card-blue{
    //     background: #488888;
    //     box-shadow: 0 3px 10px 0 #488888;
    // }
    .card-bg{
        // position: absolute;
        // left: 0;
        // top: 0;
        // width: 100%;
        // height: 100%;
        // z-index: -1;
        // opacity: 0.1;
        // border-radius: 20px;
        img{
            width: 100%;
            height: 172px;
            object-fit: cover;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }
    }
    .deposit-card-header{
        flex-wrap: wrap;
        padding: 13px 15px 10px;
        min-height: 67px;
        border-bottom: 1px solid hsla(0,0%,100%,.1);
        .icon-wrap{
            flex: 0 0 40px;
            span{
                width: 40px;
                height: 40px;
                display: flex;
                background: white;
                padding: 8px;
                border-radius: 50%;
                img{

                }
            }
        }
        .header-title{
                flex-grow: 1;
      
            h6{
                // font-size: 14px;
                // margin: 0;
                // color: #fff;
                // font-weight: 700;
                // font-family: 'Inter';
                // letter-spacing: 0.5px;
                font-family: "Poppins", Arial, sans-serif;
                font-weight: 500;
                color: #222222;
            }
        }
    }
    .deposit-card-body{
        padding: 5px 13px 15px;
        width: 100%;
        .interest-content{
            color: #fff;
        }
        .feature-text{
            p{
                color: $primary;
            }
        }
        h6{
            color: #999999;
            font-size: 13px;
            font-weight: 500;
            line-height: 1.5;
            font-family: "Poppins", Arial, sans-serif;
        }
        .btn-card{
            width: 100%;
            font-size:13px;
        }
    }
    .feature-btn-wrap {
        display: flex;
        justify-content: space-between;
    }
}

.slick-prev:before, .slick-next:before{ color: #b4a1a1 !important;}


/************ Design-2 ************/
.online-services-home-2{
    .menu{
        padding-bottom: 0;
        .menu__item{
            padding-bottom:10px;
        }
    }
    .main-nav{
        background: $primary;
        padding: 6px 0;
        .main-menu{
            li{
                a{
                    font-weight: 400;
                    font-family: 'Poppins';
                    
                    &.active{
                        color:rgba(255, 255, 255, 1)
                    }
                    color:rgba(255, 255, 255, 0.7)
                }
            }
        }
    }
    .home-body{
        padding-top:175px;
    }
    .section-heading{
        font-size: 18px;
        font-family: 'Poppins';
    }
    .main-menu {
        display: flex;
        align-items: center;
        margin: 0;
         li {
            padding: 0 20px;
         }
        
       
    }
    svg.menu-icon {
        margin-right: 3px;
    }
    // .product-content .floating-circle{
    //     border:none !important;
    //     height: 74px;
    //     order: 2;
    // }
    // .product-content{
    //     background: white !important;
    //     box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
    //     border-radius: 0.25rem;
    //     max-width:100%;
    //     padding-bottom:5px;
    //     display: flex;
    //     align-items: center;
    //     // border: 1px solid rgba(216, 216, 216, 0.5);
    // }
    // .product-icon-wrap{
    //     width: 40px;
    //     height: 40px;
    //     border-radius: 50%;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     background-color:$primary;
    // }
    // .product-content .product-icon{
    //     font-size: 18px;
    //     color: #fff;
    // }
    // .product-content .floating-text{
    //     padding-left: 20px;
    //     width: 70%;
    // }
    span.logo-wrap .logo-text{
        font-size: 20px;
    }
    .card-bg{
        position: relative;
    }
    .card-bg:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 74px;
        height: 50px;
        background: white;
    }
}

@media only screen and (max-width: 767px) {
    .products-list li{
        flex: 0 0 33.33%;
    }
    .home-sidebar{
        display: none;
    }
    .menu__right-nav ul li:last-child{
        display: none;
    }
    .d-t-block{
        display: block!important;
    }
    .menu__mobile-button {
        position: absolute;
        right: 0;
        top: -31px;
        background: transparent;
        box-shadow: none;
        border: none;
        padding: 0;
        .menu-icon{
            font-size: 18px;
            color: $primary;
        }
      }
      .nav-mobile{
           li{
            .menu-icon {
                min-width: 40px;
            }
           }
      }
      .online-services-home-2 .main-nav{
          display:none !important;
      }
      span.logo-wrap .logo-text{
        transform: translateX(-4px);
      }
      .display-mobile-none{ 
          display: none !important;
      }
      .online-services-home-2 .home-body{
        padding-top: 110px;
      }
      .deposits-wrapper{
          display: none !important;
      }
      .online-services-home-2 .menu .menu__item{
          padding-bottom: 20px;
      }
      .products-list li:last-child {
        // display: none;
      }
}
.aside-title{
    font-size: 12px;
    color: #343a40;
}
.inner-header{
    padding: 0 2px;
    background: white;
    .back-btn {
        font-size: 20px;
        color: rebeccapurple;
        cursor: pointer;
        display: inline-block;
        background: white;
        border-radius: 12px;
        line-height: 40px;
        padding: 0 10px;
        width: 40;
        text-align: left;
      }
}
.webpage-viewer{
    margin-left: -12px;
    margin-right: -12px;
}

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.loading-content {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f8fb;
 
    .loading {
       width: 80px;
       height: 50px;
       position: relative;
 
       p {
          top: 0;
          padding: 0;
          margin: 0;
          color: $primary;
          animation: text 3.5s ease both infinite;
          font-size: 12px;
          letter-spacing: 1px;
 
          @keyframes text {
             0% {
                letter-spacing: 1px;
                transform: translateX(0px);
             }
 
             40% {
                letter-spacing: 2px;
                transform: translateX(26px);
             }
 
             80% {
                letter-spacing: 1px;
                transform: translateX(32px);
             }
 
             90% {
                letter-spacing: 2px;
                transform: translateX(0px);
             }
 
             100% {
                letter-spacing: 1px;
                transform: translateX(0px);
             }
          }
       }
       span {
          background-color: $primary;
          border-radius: 50px;
          display: block;
          height: 16px;
          width: 16px;
          bottom: 0;
          position: absolute;
          transform: translateX(64px);
          animation: loading 3.5s ease both infinite;
 
          &:before {
             position: absolute;
             content: "";
             width: 100%;
             height: 100%;
             background-color: #e98a8a;
             border-radius: inherit;
             animation: loading2 3.5s ease both infinite;
          }
 
          @keyframes loading {
             0% {
                width: 16px;
                transform: translateX(0px);
             }
 
             40% {
                width: 100%;
                transform: translateX(0px);
             }
 
             80% {
                width: 16px;
                transform: translateX(64px);
             } 
 
             90% {
                width: 100%;
                transform: translateX(0px);
             }
 
             100% {
                width: 16px;
                transform: translateX(0px);
             }
          }
          @keyframes loading2 {
             0% {
                transform: translateX(0px);
                width: 16px;
             }
 
             40% {
                transform: translateX(0%);
                width: 80%;
             }
 
            80% {
                width: 100%;
                transform: translateX(0px);
             }
 
             90% {
                width: 80%;
             transform: translateX(15px);
             }
             100% {
                transform: translateX(0px);
                width: 16px;
             }
          }
       }
    }
 }
 
 .fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}